# Assignment 1

In [42]:
import pandas as pd
import numpy as np

data1 = pd.read_csv("ds-boot-2.csv", sep='\t')
data2 = pd.read_csv("ds-boot-1.csv", sep='\t')

data1.head(3)

,id,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p24,p25,p26,p27,p28,y1,y2,y3,y4,y5
0,11,6.48148,3.0,5.0,7.75000,0.0,7.16667,8.16667,9.66667,6.16667,...,1.66667,3.16667,0.0,0.00000,0.0,1.0,5.00,7.44,1.18,4.38
1,12,5.74074,4.0,8.0,7.33333,8.0,8.83333,9.75000,9.66667,9.00000,...,2.50000,5.50000,5.0,8.66667,8.0,4.5,4.25,8.93,2.00,6.03
2,25,7.59259,7.0,8.0,7.66667,8.0,9.66667,9.50000,6.16667,9.66667,...,3.50000,3.50000,9.0,6.50000,7.0,7.5,11.00,8.97,2.00,9.12

Divide dataset in two parts: targets and predictors

In [43]:
#extract targets
target_name = ['y1', 'y2', 'y3','y4','y5']
targets = data1[target_name]
data1.drop(target_names, axis=1, inplace=True)
data1.drop('id', axis=1, inplace=True)

Bootstrap method implementation.
As arguments method takes dataset, statistic to estimate(median, mean or etc.), number of samples to generate (1000 by default).
Method returns mean and std for the statistics.

In [69]:
def bootstrap_method(data, statistic, num_samples = 1000):
    samples = np.random.choice(data, size = (B, len(data)))
    stat_to_sample = np.apply_along_axis(statistic, 1, samples)
    samples_mean = np.mean(stat_to_sample)
    samples_std = np.std(stat_to_sample)
    return samples_mean, samples_std

The results of estimation (for y1...y5) :

In [70]:
print("For alpha = 0.05")
for i in range(1,len(target_name)+1):
    results = bootstrap_method(targets['y'+str(i)], np.mean)
    print("For y", i, " : mean = ", results[0], "+- ", 1.96 * results[1])
    results = bootstrap_method(targets['y'+str(i)], np.median)
    print("For y", i, " : median = ", results[0], "+- ", 1.96 * results[1])
    print('-------------------')

For alpha = 0.05
For y 1  : mean =  4.02695 +-  0.837589632109
For y 1  : median =  4.055 +-  1.03893866999
-------------------
For y 2  : mean =  5.49603125 +-  1.03737002547
For y 2  : median =  6.162625 +-  1.29536203433
-------------------
For y 3  : mean =  7.29482425 +-  0.906336891182
For y 3  : median =  8.30882 +-  0.546439274134
-------------------
For y 4  : mean =  1.5258635 +-  0.216354751084
For y 4  : median =  1.859125 +-  0.267672137241
-------------------
For y 5  : mean =  5.64544175 +-  0.860876267147
For y 5  : median =  6.174705 +-  0.807492497628
-------------------

Estimation a linear model for each target label yi for better prediction of yi

# Assignment 2

In [72]:
data2.head(3)

   day  bugsPerDay  cummBugs
0    1           0         0
1    2           1         1
2    3           0         1

In [73]:
data2.describe()

               day   bugsPerDay     cummBugs
count  1327.000000  1327.000000  1327.000000
mean    664.000000     4.212509  2894.581763
std     383.216214     8.803797  2013.662007
min       1.000000     0.000000     0.000000
25%     332.500000     0.000000   765.000000
50%     664.000000     2.000000  3186.000000
75%     995.500000     6.000000  4994.500000
max    1327.000000   224.000000  5590.000000

Implement several models to find the best one.

In [ ]:
def GOS(a, b, t):
    return (a * (1 - (1 + b * t) * np.exp(-b * t)))

def gompertz(a, b, c, t):
    return a * (b ** (c ** t))

def yamada_raleigh(t, a, r, alpha, beta):
    return a * (1 - np.exp(-r * alpha * (1 - np.exp(-beta * t ** 2 / 2))))